.pdfSelected {
    background-color: rgb(11, 23, 50);
    position: absolute;
    top: 8%;
    right: 2%;
    width: 11%;
    font-size: 45%;
    padding: 5px 5px 5px 5px;
    color: whitesmoke;
}

.pdfSelected:hover,
.copiar:hover {
    background-color: rgb(197, 229, 249);
    color: black;
}

.pdfAll {
    background-color: rgb(11, 23, 50);
    color: whitesmoke;
    position: absolute;
    left: 2vw;
    bottom: 28vh;
    width: 70%;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.pdfAll:hover {
    background-color: #AFDBF6;
    color: black;
}